In [22]:
web={
    'header':'header.html',
    'footer':'footer.html',
    'content':''
}

In [29]:
def readfile(filename:str):
    """
    takes in a file name and reads it
    """
    with open(filename, "r") as file_handle:
        file_contents = file_handle.read()
        
        return file_contents
    

def create_index(filename:str,filecontent:str):
    with open(filename, "w") as file_handle:
        file_handle.write(filecontent)

In [49]:
create_index('index.html',index_content)

In [52]:
header_content=readfile(web['header'])
footer_content=readfile(web['footer'])
web['content']=df.to_html(index=False,table_id='sales')
index_content=header_content+web['content']+footer_content
create_index('index.html',index_content)

<!-- content goes here and it is generated in python -->



</body>
</html>

In [33]:
import pandas as pd
import random as r

In [34]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
x= list(range(1,11))
y=[r.randint(1,100) for i in x]

data={
    'x':list(range(1,11)),
    'y':y
}

In [36]:
df=pd.DataFrame(data)

In [37]:
df

    x   y
0   1   1
1   2  48
2   3  93
3   4  40
4   5  58
5   6  22
6   7  61
7   8  36
8   9  47
9  10  80

In [46]:
web['content']

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>48</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>93</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>58</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>61</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>36</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>47</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>80</td>\n    </tr>\n  </tbody>\n</table>'

In [48]:
index_content

'<!DOCTYPE html>\n<html lang="en">\n<head>\n    <meta charset="UTF-8">\n    <meta name="viewport" content="width=device-width, initial-scale=1.0">\n    <title>My GitHub Web Page</title>\n</head>\n<body>\n\n<h1>\n    ABC Company Monthly Sales\n</h1>\n<hr>\n<br>\n\n<!-- anything above is default html header file -->\n\n\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>x</th>\n      <th>y</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>48</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>93</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>58</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>61</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>36</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>47</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>80</td>\n    </tr>\n  </tbody>\n</table>\n<!-- content goes here and it is generated in python -->\n\n\n\n</body>\n</html>'